{
    margin: 0;
    padding: 0;
}
body{font-family: 'Poppins', sans-serif;}

.cabecalho{
    background-color: #ffe553 ;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px  0;

}
.comida{
    width: 200px;
    position: relative;
    top: 5px;
    left: 50px;
}
.cabecalho-lista-itens{
 display: inline-block;
 margin: 0 16px;
 font-size: 24px;
 padding: 24px 0;
}

.imagem-pudim{
    width: 200px;
}

.escola{
    background-image:linear-gradient(#ffe553,rgb(255, 136, 40));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 350px
}

.escola-titulo{
    padding: 24px 0;
}
.estudante-titulo{
    text-align: center;
    padding: 50px 0px;
}
.estudante-image{
    width: 120px;
}
.estudante-icone{
    width: 24px;

}
.estudante-div{
    text-align: center;
}
.estudantes-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
}