.cabecalho{
    background-color: #adb9ff ;
    color: white;
    display: flex;
    justify-content: space-around;

}
.comida{
    width: 200px;
    position: relative;
    top: 5px;
    left: 50px;
}
.cabecalho-lista-itens{
 display: inline-block;
}
